.photo-container {
    position: relative;
}

.photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken(white, 2%);
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(#111, .35);
    transition: transform .25s ease-out;
    transform: translate(var(--x), var(--y)) scale(.35) rotate(var(--angle));
    will-change: transform;

    &:hover {
        transform: scale(1) rotate(0deg);
        z-index: 1;

        &:before {
            opacity: 1;
        }
    }
}

.photo:before {
    content: "";
    display: block;
    width: 90%;
    height: 80%;
    margin: 5%;
    background: var(--image) center center no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 5px rgba(#222, .35);
    border-radius: 2px;
    filter: sepia(.2) brightness(.9) contrast(1.2);
    transition: opacity .25s ease-out;
    opacity: .75;
    will-change: opacity;
}
